body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start {
}
.start__title {
  color: rgb(50, 50, 119);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.start__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0px;
}
.start__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.start__text {
  width: 200px;
  font-size: 18px;
  color: rgb(50, 50, 119);
  font-weight: 500;
}
.start__input {
  width: 200px;
  color: rgb(50, 50, 119);
  font-size: 16px;
  border: 1px solid rgb(50, 50, 119);
  border-radius: 15px;
  padding: 5px;
  text-align: center;
}
.start__select {
  width: 200px;
  height: 32px;
  color: rgb(50, 50, 119);
  font-size: 16px;
  border: 1px solid rgb(50, 50, 119);
  border-radius: 15px;
  padding: 5px;
}
.start__button {
  width: 100%;
  font-size: 18px;
  color: white;
  background-color: rgb(50, 50, 119);
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

.hide {
  display: none;
}
