:root {
  --button-answer-bg: rgb(239, 242, 244);
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start {
}
.start__title {
  color: rgb(50, 50, 119);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.start__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0px;
}
.start__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.start__text {
  width: 200px;
  font-size: 18px;
  color: rgb(50, 50, 119);
  font-weight: 500;
}
.start__input {
  width: 200px;
  color: rgb(50, 50, 119);
  font-size: 16px;
  border: 1px solid rgb(50, 50, 119);
  border-radius: 15px;
  padding: 5px;
  text-align: center;
}
.start__select {
  width: 200px;
  height: 32px;
  color: rgb(50, 50, 119);
  font-size: 16px;
  border: 1px solid rgb(50, 50, 119);
  border-radius: 15px;
  padding: 5px;
}
.start__button {
  width: 100%;
  font-size: 18px;
  color: white;
  background-color: rgb(50, 50, 119);
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

.questions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questions__text {
  color: rgb(50, 50, 119);
  font-weight: bold;
  padding: 10px;
}
.answer__options {
  width: 600px;
  display: flex;
  justify-content: flex-start;
}
.button__answer {
  background-color: var(--button-answer-bg);
  color: rgb(50, 50, 119);
  font-weight: bold;
  border: 1px solid rgb(50, 50, 119);
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
}
.false {
  --button-answer-bg: rgb(230, 193, 193);
}

.true {
  --button-answer-bg: rgb(151, 218, 168);
}

.select {
  --button-answer-bg: rgb(50, 50, 119);
  color: white;
}

.horizontal__line {
  background-color: rgb(222, 216, 216);
  height: 1px;
  width: 100%;
  margin: 10px;
}
.check__answers {
  display: flex;
  justify-content: center;
}
.check__answers__button {
  font-size: 14px;
  color: white;
  background-color: rgb(50, 50, 119);
  padding: 10px 50px;
  border-radius: 10px;
}
.check__answers__button:disabled {
  background-color: rgb(117, 117, 126);
}
.response__counter {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}
.response__counter__text {
  padding: 10px;
  font-weight: bold;
  color: rgb(50, 50, 119);
}
.reset__button {
  font-size: 14px;
  color: white;
  background-color: rgb(50, 50, 119);
  padding: 10px 50px;
  border-radius: 10px;
}
.hide {
  display: none;
}
